
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');


body {

    background-color: #595656;

}

.divPadre {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 21rem;
}

.divPadre2 {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 21rem;

}

.divPadre3 {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 21rem;

}

.divPadre4 {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 21rem;

}

.divFooter {

    height: 2rem;
}

.card-body {

    background-color: #d3d3d3;

}

ul li {
    
    text-align: justify;
    font-family: 'Mate SC', serif;
    color: #f0f8ff;
    font-size: 0.8rem;
    
}

p {

    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 0.8rem;
    color: #d3d3d3;

}

.card-text {

    font-family: 'Mate SC', serif;
    color: #000000;
    
}

.card-title {

    font-family: 'Mate SC', serif;

}


h1 {

    font-size: 2.5rem;
    font-family: 'Beau Rivage', cursive;

}

h4 {

    color: #f0f8ff; 
    font-family: 'Saira Extra Condensed', sans-serif; 

}

.segundoParrafo {

    margin-left: 3rem;

} 


    
    @media only screen and  (min-width:600px) {


        p {

            font-size: 1rem;
            
        }
        
        h1 {
    
            font-size:3.5rem;

        }
    
        h4 {
    
            font-size: 1.5rem ;

        }
    
    
        ul li {
    
            font-size: 0.9rem;

        }
    
    

    }

    
    @media only screen and (min-width: 1000px) {

        p {

            font-size: 1.2rem;
             
        }
        
        h1 {
    
            font-size:4.5rem;

        }
    
        h4 {
    
            font-size: 1.8rem ;

        }
    
    
        ul li {
    
            font-size: 1.1rem;
            
        }
    
    
    
    }
    
    @media only screen and (min-width: 1400px){

        h1 {
    
            font-size:6rem;
            
        }
        
        h4 {
    
            font-size: 2.5rem ;

        }
    
        .imgAvatar {
           
            height: 12rem;

        }


    }

